<div id="<%= dom_id staff %>">
  <p>
    <strong>Staff:</strong>
    <%= staff.staff_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= staff.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= staff.role %>
  </p>

</div>
