<div id="<%= dom_id inventory %>">
  <p>
    <strong>Ingredient:</strong>
    <%= inventory.ingredient_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= inventory.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory.quantity %>
  </p>

</div>
