<div id="<%= dom_id table %>">
  <p>
    <strong>Table:</strong>
    <%= table.table_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= table.status %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= table.capacity %>
  </p>

</div>
